body {
    background-color: #fafafa;
    font-family: Didot LT STD, Didot, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
}
pre {
    font-family: Didot LT STD, Didot, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
}
authors {
    display: none;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 1em 1em .5em;
}
subtitle {
    font-style: italic; /* Add this line */
    font-weight: normal;
    margin: 1em 1em 1em 0; /* Top, right, bottom, left */
    font-size: .5em;
}
card {
    display: block;
    margin: 1em;
    padding: 0 1em 0 1em;
    border: 1px solid white;
    background-color: white;
    box-shadow: 20px 20px 20px 20px #fafafa; /* Add this line */
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    margin: 0 0 0 0;
}
.hidden {
    display: none;
}
/* Hide the h1 by default */
card h1 {
    display: none;
}

/* Only show the h1 when the parent card has the fullscreen class */
card.fullscreen h1 {
    display: block;
}

/* Hide the onlyfullscreen by default */
card.onlylfullscreen {
    display: none;
}

/* Style for fullscreen card */
card.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5em;
}
card.fullscreen p {
    align-self: left;
    margin-left: 4vw;
    margin-right: 8vw;
}
card.onlyfullscreen h1 {
    align-self: left;
    justify-content: space-around;
}

/* Style for h1 in fullscreen card */
card.fullscreen h1 {
    align-self: flex-start;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Style for other content in fullscreen card */
card.fullscreen > :not(h1) {
    align-self: center;
    justify-content: space-around;
}

card p.verse {
    margin: 0.5em 0; 
}
em, i {
    font-family: 'Hoefler Text', serif; 
    font-size: 1.05em;
    letter-spacing: 0.03em; 
}
