body {
    background-color: #fafafa;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333333; /* Dark grey color */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #333333; /* Dark grey border at the bottom */
}
p {
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
}
